/* Base Styles */

/*

BEM (block, element, modifier)

Block     ->  house
Element   ->  house__kitchen
Modifier  ->  house--condo

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
    color: #396684;
}

/* Container */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #00c2d0;
  color: white;
  padding: 1.6rem 0; 
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: .7rem;
}

.header__subtitle {
  font-size: 1.4rem;
  font-weight: 300;
}

/* Actions Bar */

.actions {
    background-color: rgb(252, 250, 250);
    border-bottom: 1px solid #dedfe0;
    padding: 1.4rem 1rem;
}

.actions__container {
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 .8rem;
}

@media only screen and (max-width: 460px) {
    .actions__container {
        flex-wrap: wrap;
    }
}

.actions__container--spaced {
    justify-content: space-between
}

.flex--toRight {
    margin-left: auto
}

/* Form Inputs */

.input {
    border: 1px solid #DEDFE0;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem;
    padding: .4rem .8rem;
}

@media only screen and (max-width: 460px) {
    .input {
        flex: 1 100%;
        margin-right: 0; 
        margin-bottom: .8rem;
        height: 4.3rem;
    }
}

.dropdown {
    border-radius: 0;
    border: 1px solid #DEDFE0;
    background: white;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: .8rem; 
}

@media only screen and (max-width: 460px) {
    .dropdown {
        width:50%;
        height: 4.3rem;
    }
}

.button {
    background: #00c2d0;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1.2rem 1.6rem;
    transition: background .3s ease;
}

@media only screen and (max-width: 460px) {
    .button {
        width:40%;
    }
}

.button:hover {
    background: #396684;
}

.button--secondary {
    background: #888888;
    border-bottom: 2px solid #717171;
}

.button--secondary:hover {
    background: #6E6E6E;
}

/* Note editor */

.title-input {
    border: 1px solid #DEDFE0;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    padding: .8rem;
    width: 100%;
}

.body-input {
    border: 1px solid #DEDFE0;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    min-height: 15rem;
    padding: .8rem;
    width: 100%;
}

/* Note List Item */

.list-item {
    text-decoration: none;
    color: #333333;
    /* background: #fdfdfd; */
    /* border: 1px solid #dedfe0; */
    border-bottom: 1px solid #f2f2f2;
    margin: 3rem 0;
    padding: 1.6rem 1.6rem;
    display: block;
    transition: background .3s ease;
}

.list-item:hover {
    background: #eeeeee;
}

.list-item__title {
    font-size: 2rem;
    margin-bottom: .4rem
}

.list-item__subtitle {
    color: rgb(169, 179, 178);
    font-size: 1.2rem;
    font-weight: 300;
}

.empty-message {
    text-align: center;
    margin: 3.2rem 0;
}